:root{
  --fov: 20cm;
  --rotateZ: 180;
  --rotateY: 0;
  --worldRotation: rotateX(calc(var(--rotateY) * 1deg)) rotateZ(calc(var(--rotateZ) * 1deg))
}
.cameraHolder{
  width:0px;
  height:0px;
  position:absolute;
  left:50%;
  top:50%;
  transform-style: preserve-3d;
  transform: perspective(var(--fov)) translateY(calc(50px + var(--posY) * 1px)) translateZ(var(--fov)) rotateX(90deg);
  .cameraRig{
    transform-style: preserve-3d;
    transform-origin: 50% 50% 50px;
    transform: var(--worldRotation) translate(calc(var(--posX) * 1px), calc(var(--posZ) * 1px));
  }
}
