:root{
  --fov: 20cm;
  --rotateZ: 180;
  --rotateY: 0;
}
.cameraHolder{
  width:0px;
  height:0px;
  position:absolute;
  left:50%;
  top:50%;
  transform-style: preserve-3d;
  transform: perspective(var(--fov)) translateY(50px) translateZ(var(--fov)) rotateX(80deg);
  transition: transform 1s;
  .cameraRig{
    transform-style: preserve-3d;
    transform: rotateZ(calc(var(--rotateZ) * 1deg)) translate(calc(var(--posX) * 1px), calc(var(--posY) * 1px));
    .ground{
      position: absolute;
      transform-style: preserve-3d;
      top: -50%;
      left: -50%;
      width: 1000px;
      height: 1000px;
      background-image: url("../../assets/images/flen.jpg");
    }
  }
}
