.ground{
  position: absolute;
  transform-style: preserve-3d;
  top: -50%;
  left: -50%;
  width: 4000px;
  height: 4000px;
  background-image: linear-gradient(gray, lightgray);
  background-size: 10px 10px;
  .leeHolder{
    transform: translate(calc(var(--posX) * -1px), calc(var(--posZ) * -1px)) rotateX(90deg);
    transform-origin: 50% 0%;
    position: absolute;
    top: 0px;
    left: 0px;
    animation: leespin 40s linear infinite;
    transform-style: preserve-3d;
    transition: transform 10s;
    .lee{
      background-size: 100% 100%;
      background-image: url("../../assets/images/lee.webp");
      position: absolute;
      transform:translateX(-500px) rotateY(90deg) scale(-1, -1);
      width: 100px;
      height: 100px;
      p{
        position: absolute;
        top: -80px;
      }
      input{
        position: absolute;
        top: -10px;
      }
    }
  }
  .wall{
    --img: linear-gradient(lightblue, blue);
    --cDepth: 500px;
    div{
      backface-visibility: none;
    }
  }
  .navThing{
    --img: url("../../assets/images/flen.jpg");
    position:absolute;
    top: 50%;
    left: 50%;
    animation: spin 10s linear infinite;
    div{
      background-size: 100%;
      backface-visibility: none;
    }
    iframe{
      width: 1000px;
      height: 1000px;
      transform: scale(0.1);
      transform-origin: 0 0;
      background-color: white;
    }
  }
  .welcome{
    transform-style: preserve-3d;
    font-size: 100px;
    position: absolute;
    transform: translate(-50%, -50%) rotateX(90deg) translateY(500px) scale(1, -1);
    top: 500px;
    left: 500px;
  }
  .spinner{
    animation: spin2 2s linear infinite;
    background-color: lightblue;
  }
  .news{
    transform-style: preserve-3d;
    font-size: 100px;
    position: absolute;
    transform: translate(-50%, -50%) rotateX(90deg) translateY(500px) scale(1, -1);
    top: 3000px;
    left: 500px;
  }
  .like{
    position: absolute;
    transform: rotateX(90deg) translateY(50px) scale(1, -1);
    transform-style: preserve-3d;
    top: 100px;
    left: 200px;
  }
  .carpet{
    background-image:url("../../assets/images/carpet.jpg");
    position: absolute;
    top: 100px;
    left: 100px;
    width: 200px;
    height: 3000px;
  }
  .under{
    background-image:radial-gradient(black, white);
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .spin1{
    position: absolute;
    left: 450px;
    top: 450px;
  }
  .spin2{
    position: absolute;
    top: 2500px;
    left: 0px;
  }
}
@keyframes spin{
  from{transform: rotate(0deg)};
  to{transform: rotate(360deg)};
}
@keyframes spin2{
  from{transform: rotateY(0deg)};
  to{transform: rotateY(360deg)};
}
    @keyframes leespin{
      from{transform: translate(calc(var(--posX) * -1px), calc(var(--posZ) * -1px)) rotateX(90deg) rotateY(0deg)};
      to{transform: translate(calc(var(--posX) * -1px), calc(var(--posZ) * -1px)) rotateX(90deg) rotateY(360deg)};
    }
