.ground{
  position: absolute;
  transform-style: preserve-3d;
  top: -50%;
  left: -50%;
  width: 1000px;
  height: 1000px;
  background-image: url("../../assets/images/flen.jpg");
  background-size: 100%;
  .navThing{
    --img: url("../../assets/images/flen.jpg");
    position:absolute;
    top: 50%;
    left: 50%;
    animation: spin 10s linear infinite;
    div{
      background-size: 100%;
    }
    iframe{
      width: 1000px;
      height: 1000px;
      transform: scale(0.1);
      transform-origin: 0 0;
      background-color: white;
    }
  }
}
@keyframes spin{
  from{transform: rotate(0deg)};
  to{transform: rotate(360deg)};
}
