.ground{
  position: absolute;
  transform-style: preserve-3d;
  top: -50%;
  left: -50%;
  width: 1000px;
  height: 1000px;
  background-image: linear-gradient(gray, lightgray);
  background-size: 10px 10px;
  .navThing{
    --img: url("../../assets/images/flen.jpg");
    position:absolute;
    top: 50%;
    left: 50%;
    animation: spin 10s linear infinite;
    div{
      background-size: 100%;
    }
    iframe{
      width: 1000px;
      height: 1000px;
      transform: scale(0.1);
      transform-origin: 0 0;
      background-color: white;
    }
  }
  .welcome{
    transform-style: preserve-3d;
    font-size: 100px;
    position: absolute;
    transform: translate(-50%, -50%) rotateX(90deg) translateY(500px) scale(1, -1);
    top: 50%;
    left: 50%;
    .spinner{
      animation: spin2 2s linear infinite;
    }
  }
}
@keyframes spin{
  from{transform: rotate(0deg)};
  to{transform: rotate(360deg)};
}
@keyframes spin2{
  from{transform: rotateY(0deg)};
  to{transform: rotateY(360deg)};
}
