body{
  background-color: lightblue;
}
.main{
  background-color:gray;
  width: 100%;
  height: 100vh;
  background-image: url("./images/flen.jpg");
  background-size: 100%;
  .login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    width: 500px;
    height: 300px;
    background-color: white;
  }
  .header{
    background-color: lightblue;
  }
}
